<!DOCTYPE html>
<html lang="en" ng-app="ShoppingApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <!-- angular first -->
  <script src="/libs/angular/angular.js"></script>

  <link rel="stylesheet" href="/index.css">
  <!-- myapp --> 
  <script src="/_cart.js"></script>
  <script src="/index.js"></script>
</head>

<body ng-controller="ShopC as shopC">

<h1>Fruits Selector</h1>

<form name="fruitsForm">
  <table><!-- one row only -->
    <tr><!-- first cell display picture and dropdown -->
      <td><!-- selector -->
          <select ng-model="shopC.selection" >
          <option ng-repeat="fruit in shopC.inventory"
                  value=" {{ $index }}">
          {{ fruit[1] }}
        </select>
      </br>
          <img ng-src="/fruits/{{ shopC.getSelected()[0] }}">
      </td>
      <td></td>
      <td class="border-it"><!-- display -->
        <h2>{{ shopC.getSelected()[1] }}</h2>
        The price is {{ shopC.getSelected()[2] | currency }} each.
        </br></br>
        <input type="number" name="quantity" id="quantity" min="1"
              ng-model="shopC.qty">
        </br>
        <button type="button" ng-click="shopC.addToCart()">Add!</button>
      </td>
    </tr>
  </table>
</form>

<h2>Shopping Cart</h2>
<table border="1">
  <tr><!--header -->
    <td>Item</td>
    <td>Total Quantity</td>
    <td>Total Price</td>
  </tr>
  <tr ng-repeat="row in shopC.cart">
    <td> {{ row[0] }} </td>
    <td> {{ row[1] }} </td>
    <td> {{ row[2] | currency }} </td>
  </tr>
</table>

Test text
Cart is {{ shopC.cart }}

<!-- recall to pass in Angular variables to HTML use {{}} -->
<!-- you can call fucntions within the {{}} too --> 

  <br>
  <br>
  <br>
  <br>
  Testing Text</br>
  Index is {{ shopC.selection }}</br>
  {{ shopC.getSelected() }}</br>
  Product name is {{ shopC.getSelected()[1] }}</br>
  Product image path is {{ "/fruits/" + shopC.getSelected()[0] }}</br>
  Price is {{ shopC.getSelected()[2] }}</br>
  
</body>
</html>